body {
	margin: 0;
	padding: 0;
	background:#1e1e1e;
}

p {
	font-size: 9;
	line-height: 10px;
	text-align: justify;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(![IMG_3795](https://user-images.githubusercontent.com/89440174/142729067-e89f0200-7c2c-4e91-b634-3dc9f756cf6e.JPG));
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgb(225, 225, 225, 0);
}	
